.section {
    min-height: 90vh;

}

.container {
    display: flex;
    padding: 50px 100px;
}

.repoOwner {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.repoOwnerLink {
    color: rgba(30, 36, 159, 0.84);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    transition: opacity 0.1s ease-in-out;
}

.repoOwnerLink:hover {
    opacity: 0.7
}

.repoOwnerLink:visited {
    color: #3c19a4;
}

.repoOwnerName {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 30px;
}

.repoOwnerImg {
    width: 300px;
    height: 300px;
}

.repoInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 10px;
    margin-top: 40px;
    font-weight: 500;
}

.repoName {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: start;
    text-decoration: underline;
    transition: opacity 0.1s ease-in-out;
}


.languagesRow {
    display: flex;
    column-gap: 15px;
}


.starsCount {
    font-size: 18px;
    font-weight: 500;
    padding-top: 7px;
    color: gray;
    margin-right: 5px;
}

.starIcon {
    width: 25px;
    height: 25px;
    margin-bottom: 20px;
}

.url {
    color: rgba(30, 36, 159, 0.84);
    font-weight: 500;
    word-wrap: anywhere;
}

.url:hover {
    opacity: 0.7
}

.url:visited {
    color: #3c19a4;

}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
    }

    .repoOwner {
        width: 100%;
        margin-right: 0px;
        align-items: center;

    }

    .repoOwnerImg {
        width: 90%;
        max-width: 300px;

    }

    .repoInfo {
        align-items: center;
    }

    .repoName {
        font-size: 25px;
    }
}